*{
  padding: 0;
  margin: 0;
}
html{
  box-sizing: border-box;
}

body{
background-color: #F4EDF6!important;

}
h2{
  color:#11156D!important;
}

h3{
  color:#11156D!important;
  font-family: 'Indie Flower', cursive!important;
margin-left: 10px;}
#tabs{
padding-top: 10px;

}
#liste span{
  width: 300px;
  height: 300px;
}
#container{
float: left;
width: 350px;
background-color: #D8E2EC;
margin-top: 30px;
margin-left: 10px;
padding-left: 10px;
border-radius: 3px;

}
.input{
  margin-left: 10px;
}
nav{
  background-color: #F8D9D5!important;
}
.titre{
width: 300px;
height: 40px;
border-radius: 4px;
padding-top: 3px;
background-color: #F2E4F9;
text-align: center;
margin-top: 10px;

}
h4{
font-family: 'Indie Flower', cursive!important;
margin: 5px 0 10px 0;
color:#11156D!important;

}
li{
  list-style-type: none;

}

#liste{

  /*background-color: #CDC1C5	;*/
  margin: 20px auto;
  width: 100%;
  height: 600px;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;

}

#liste .header {
font-family: 'Indie Flower', cursive;
margin: 0 0 10px 0;
}
#tabs {
display: block;
margin: 0;
padding: 0;
list-style-type: none;
}
#tabs li ,
.tachesAjout , #input{
  border:0;
  border-bottom: 1px;
  padding: 10px 0;
  margin-bottom:5px;

}
/*----css du bouton fait---*/
.btnDone{
display: inline-block;
font-size: 0.8em;
text-decoration: none;
background-color: #FFF8DC;
padding: 3px 6px;
color:black;
border:0;
font-weight: bold;
/*opacity: 0.4;*/
border-radius: 4px;
}
.btnEdit{
display: inline-block;
font-size: 0.8em;
font-weight: bold;
color:black;
text-decoration: none;
background-color: #E67E22;
padding: 3px 6px;
border:0;
/*opacity: 0.4;*/
border-radius: 4px;
text-decoration: none;
}
.btnSupr{
display: inline-block;
font-size: 0.8em;
text-decoration: none;
background-color: #F1C40F;
padding: 3px 6px;
border:0;
font-weight: bold;
color:black;
/*opacity: 0.4;*/
border-radius: 4px;
}
.btnArch{
display: inline-block;
font-size: 0.8em;
text-decoration: none;
background-color: #FFF8DC;
padding: 3px 6px;
border:0;
opacity: 0.2;
border-radius: 5px;
box-shadow: 3px 3px 0 grey;
}

a{

  float: right;
  margin-right: 5px;
  margin-bottom: 3px;
}

#input:focus{
  outline: none;
}
#tabs .choses.fait{
  text-decoration: line-through;
}
#tabs li .btnDone:hover{
  /*opacity: ;*/
}
.btndeco{
border-radius: 3px;
background-color: #CAC5CC
;
box-shadow: 3px 3px 0 grey;

}
.btndeco:hover{
background-color:#F4EDF6;
}
.btnEdit:hover{
background-color: #27AE60;
text-decoration: none;
color: black;
}
.btnSupr:hover{
background-color: #00B5B5
;
text-decoration: none;
}

.btnArch:hover{
  opacity:1;
}
#submit{
  background-color: #B0A4BE;
  padding: 5px 10px;
  margin-top:10px;
  border: 1px solid black;
  box-shadow: 3px 3px 0 #696969;
  border-radius: 4px;
}
#header{
  font-size: 50px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
h3{
  font-family: 'Indie Flower', cursive;
}
#input{
  width:300px;
  border-radius: 4px;
}
#list{
  width: 300px;
  background-color: #8BCBDE;
  border-radius: 3px;
  font-family: 'Indie Flower', cursive;

}
#descri{
  height: 20px;
  margin-top: 20px;
}
